.search-bar-container {
    margin-bottom: 25px;
}

.search-bar-container .search-bar-label {
    display: flex;
    align-items: center;
    justify-content: center
}

.search-bar-container .search-bar-label input {
    max-width: 80%;
    min-width: 50%;
    height: 30px;
    text-align: center;
    border: 2px solid #c7c7c7
}